STARINTEL_HOME=$HOME/starintel
AUTO_DIG_CORRECTION_REPOSITORY=lost-rob0t/starintel-gpt-auto-dig
VITE_AUTODIG_CORRECTION_REPO=lost-rob0t/starintel-gpt-auto-dig
VITE_BASE_PATH=/quasar/app/
STARINTEL_SERVER_URL=
COUCHDB_URL=
RABBITMQ_URL=
